<h1 class="name">Naruto Shipudden</h1><br/>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">Full Name</th>
      <th scope="col">characteristics</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><img src="../../../assets/images/naruto.jpg" alt="Naruto Uzumaki" class="img"></td>
      <td class="text">Naruto UZUMAKI</td>
      <td class="text">Demon renard</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><img src="../../../assets/images/sasuke.png" alt="Sasuke UCHIHA" class="img"></td>
      <td class="text">Sasuke UCHIHA</td>
      <td class="text">Sharingan</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><img src="../../../assets/images/hinata.png" alt="Naruto Uzumaki" class="img"></td>
      <td class="text">Hinata HYUGA</td>
      <td class="text">Byakugan</td>
    </tr>
  </tbody>
</table>
